other.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="BookCatalogue" type="BookCatalogueType"/>
    <xs:complexType name="BookType">
        <xs:sequence>
            <xs:element type="xs:string" name="Title"/>
            <xs:element type="xs:string" name="Author"/>
            <xs:element type="xs:string" name="Date"/>
            <xs:element type="xs:string" name="ISBN"/>
            <xs:element type="xs:string" name="Publisher"/>
            <xs:element type="CostType" name="Cost"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BookCatalogueType">
        <xs:sequence>
            <xs:element type="BookType" name="Book" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CostType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="currency" use="optional"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
</xs:schema>